<div class=" col-4 profile-img" >
  <img src="{{img_src}}" class="profile-img img-fluid" alt="Profile Image" width="250px" height="100px"/>
  <a class="btn btn-danger btn-pen"  (click)="fileInput.click()"  >
    <i class="fa fa-pen"></i> Upload
  </a>
  <input type="file" class="d-none" (change)="onFileChanged($event)" #fileInput>
</div>
<div class="col-8 profile-details" >
  <div class="section">
    <h4 class="col s10 m10 l10">Item Name
    </h4>
    <button type="submit" routerLink="/profile" class="col-2 btn edit-btn ">
      Save
    </button>
  </div>
</div>

<!--
<div class="form-group">
  <label>File input</label>
  <input type="file">
</div>
<a class="btn btn-block btn-social btn-pen">
  <i class="fa fa-pen"></i> Sign in with Bitbucket
</a> -->
