

<!-- displaying an image -->
<div class="row justify-content-center">
    <div class="container col-4 justify-content-center">
        <span class="h2">Would you wear it?</span>
    </div>
    <div class="container col-4 justify-content-center">
        <input type="button" class="btn btn-success" value="Yes">&nbsp;&nbsp;&nbsp;&nbsp;
        <input type="button" class="btn btn-danger" value="No"> <!-- suggect another one-->
    </div>
    <div class="container col-4 justify-content-center">
        <img src="../../../assets/Images/red-tshirt.jpg"  
            class=""  height="200" width="200">
    </div>
</div>


<hr width="80%">
<hr width="40%">
<hr width="80%">

<!-- question -->