<h2>
  {{Title}}
</h2>

<div class="row" >
  <div class="col" *ngFor="let image of Images">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top d-flex justify-content-center"
        src='../../../assets{{image}}'
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
<!--
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="../../../assets/Images/grey-tshirt.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img
        class="card-img-top"
        src="../../../assets/Images/red-tshirt.jpg"
        alt="Card image cap"
      />
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <a href="#" class="btn btn-primary">Select</a>
      </div>
    </div>
  </div> -->
</div>
